.container{
    display:grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns:50px 50px 50px 50px;
}
li:nth-child(1){
    grid-row:1/2;
    grid-column: 1/2;
}

.box2{
    grid-row:1/2;
    grid-column: 2/3;
}

li:nth-child(3){
    grid-row:1/2;
    grid-column: 3/4;
}

li:nth-child(4){
    grid-row:1/2;
    grid-column: 4/5;
    background-color: yellow;
}

li:nth-child(5){
    grid-row:2/3;
    grid-column: 2/4;
    background-color: yellow;
}

li:nth-child(6){
    grid-row:3/4;
    grid-column: 1/2;
    background-color: yellow;
}
li:nth-child(7){
    grid-row:4/5;
    grid-column: 1/2;
    background-color: yellow;
}

li:nth-child(8){
    grid-row:4/5;
    grid-column: 2/3;
    background-color: yellow;
}

li:nth-child(9){
    grid-row:4/5;
    grid-column: 3/4;
    background-color: yellow;
}

li:nth-child(10){
    grid-row:4/5;
    grid-column: 4/5;
    background-color: yellow;
}