.container{
    background-color: grey;
    display:grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4,200px); 
    grid-template-areas: 
        "one two three four"
        "five six six eight"
        "nine ten eleven twelve"
        "onethree onefour onefive onesix"
        ;
    grid-gap:1em;
    justify-items:stretch;
    align-items:stretch;

}
.art{
    grid-area: "three";
    background-color: palevioletred;
}
.Ny{
    grid-area: "six";
}